.containerr{
	background-color:steelblue;
	display: grid;
	height: fit-content;
	width: 85%;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 7.5%;
}

.nav-bar{
	padding-top: 10px;
	height: 50px;
	background-color: black;
	grid-column: span 3;
}

.nav-list li{
	margin: 0;
	display: inline;
	text-decoration: none;
}

.nav-item{
	padding-top: 20px;
	padding: 40px;
	padding-bottom: 30px;
	font-weight: bolder;
	color: white;
	transition: background-color 0.25s ease-in-out;
}

.nav-item:hover{
	background-color: steelblue;
}

.body{
	height: 150px;
	width: 95%;
	text-align: center;
	grid-column: span 3;
	margin-left: 2.5%;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: large;
}

.banner{
	grid-column: span 3;
	background-color: darkturquoise;
	height: 900px;
	background-image: url(images/tline.JPG);
	background-color: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.body1{
	background-color:dimgrey;
}

.body1-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.body1-content img {
	padding-top: 80px;
	width: 300px;
}

.body1-content p {
	padding-top: 30px;
	width: 65%;
}

.body-animation{
	animation: content-expand 1.3s ease-in-out forwards;
}

@keyframes content-expand {
	0%{
	}

	50%{
	}

	100%{
		background-color: whitesmoke;
		height: 1000px;
	}
}

.body2{
	background-color:gray;
}

.body2-content{
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projects{
	padding-top: 60px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	gap: 15px;
}

.project{
	border: 10px solid steelblue;
	text-decoration: none;
	color:black;
}

.proj1 {
	background-image: url(images/level-jjamm.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.proj2 {
	background-image: url(images/scrapey.JPG);
	background-size: cover;
	background-repeat: no-repeat;
}
.proj3 {
	background-image: url(images/AR_APP.JPG);
	background-size: cover;
	background-repeat: no-repeat;
}
.project a{
	height: 180px;
	width: 180px;
	
}

.project p{
	padding-top: 100px;
	font-size: small;
}

@media (min-width: 0px) and (max-width: 707px){
	.projects{
		padding-top: 70px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 25px;
	}
	
	.projects a{
		height: 220px;
		width: 220px;
	}

	.projects p{
		display: none;
	}
	.nav-bar li{
		display: none;
	}
	.banner{
		background-size: 400px;
		height: 700px;
		background-color: steelblue;
	}
	.body1-content p {
		font-size: smaller;
		padding-top: 20px;
		width: 85%;
	}
	.body1-content img {
		padding-top: 10px;
	}
	
}

@media (min-width: 708px) and (max-width: 964px){
	.projects a{
		background-color: aqua;
		height: 175px;
		width: 175px;
		text-decoration: none;
	}
	.projects p{
		padding-top: 130px;
		font-size: large;
	}
}

@media (min-width: 965px){
	.projects a{
		background-color: aqua;
		height: 250px;
		width: 250px;
		text-decoration: none;
	}
	.projects p{
		padding-top: 200px;
		font-size: large;
	}
}	

@media (min-width: 1400) {
	.projects{
		gap: 80px;
	}
}

.body3{
	background-color:lightslategray;
}

.body3-content{
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.body3-content .resume-partial{
	width: 70%;
	display: block;
}

.body3{
	overflow: auto;
}

.footer{
	height: 50px;
	background-color:black;
	grid-column: span 3;
}